@import "bootstrap";

$black: #000;



.debug_dump {
	margin: 25px 10px 0;
}

section {
	margin-top: 50px;
}

.control-group {
	position: relative;
}

 .slider {
 	position: absolute;
 	left: 400px;
 	top: 9	px;
 	width: 50%;

 	ul{
		margin: 0;
		margin-left: 1px;
		position: relative;
		top: -4px;
	}

	li {
	 	border-right: 1px solid $black;
	 	height: 20px;
	 	width: 33%;
	 	display: inline-block;

	 	&:first-child {
 			border-left: 1px solid $black;
 		}
 	}
 }