<!DOCTYPE html>
<html>
<head>
  <title>Beer tastings</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<section class="container-fluid">
		<nav class="row-fluid">
			<div class="navbar">
  				<div class="navbar-inner">
    				<a class="brand" href="#">Beer App</a>
    				<ul class="nav">
						<li class="active"><a href="#">Beers</a></li>
						<li><a href="#">Users</a></li>
						<li><a href="#">Tastings</a></li>
				    </ul>
				</div>
			</div>
		</nav>
		<div class="row-fluid">
			<div class="span12">
				<%= yield %>
			</div>
		</div>
	</section>
</body>
</html>
